<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div class="details"><span >id: </span>{{hero.id}}</div>
  <div class="details">
    <label>name:
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="hero.name" [placeholder]="hero.name" >
      </mat-form-field>
    </label>
   
  </div>
  <button mat-raised-button color="primary" (click)="goBack()">go back</button>
  <button mat-raised-button color="primary" (click)="save()">save</button>
</div>