
<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div class="details"><span >id: </span>{{hero.id}}</div>
  <div class="details">
    <label>name:
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="hero.name" [placeholder]="hero.name" >
      </mat-form-field>
    </label>
  
  </div>
  <mat-radio-group [(ngModel)]="selected">
    <mat-radio-button class="example-margin" value="MARVEL">Marvel</mat-radio-button>
    <mat-radio-button class="example-margin" value="DC">DC</mat-radio-button>
    <mat-radio-button class="example-margin" value="">Both</mat-radio-button>
  </mat-radio-group>

</div>
<button mat-raised-button color="primary" (click)="goBack()">go back</button>
<button mat-raised-button color="primary" (click)="save()">save</button>