<nav>
  <a  mat-raised-button routerLink="/dashboard">Dashboard</a>
</nav>
<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <mat-form-field class="example-full-width">
      <input matInput #heroName />
    </mat-form-field>

  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button mat-raised-button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
  <br>
  <span class="check">Universe: </span>
  <mat-radio-group [(ngModel)]="addUniverse">
    <mat-radio-button class="example-margin" value="MARVEL">Marvel</mat-radio-button>
    <mat-radio-button class="example-margin" value="DC">DC</mat-radio-button>
  </mat-radio-group>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes | universeSort:selected">
    <a class="test"routerLink="/detail/?name={{hero.name}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button mat-mini-fab color="warn" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
